.nav-content {
  display: flex;
}

.nav-link {
  display: block;
  width: 20%;
  color: white;
}






























body {
  color: black;
   background-color: blue;
  font-family: 'Source Serif Pro', serif;
}

.main-content {
  background-color: white;
}
