.pictures {
  display: flex;
  flex-wrap: wrap;
}

.image_box {
  width: 49%;
  margin-bottom: 5px;
}

.image_box:nth-child(odd) {
  margin-right: 2%;
}

.gallery_image {
  object-fit: cover;
}

.nav-content {
  display: flex;
  font-family: 'Source Serif Pro', serif; 
}

.nav-link {
 display: block;
 width: 40; 
 color: white; 
}

.page-header {
 background-image: url("/assets/images/DSC_0231.jpg");
 background-size: cover;
 font-family: 'Source Serif Pro', serif; 
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

nav {
  background-color: #163205;
}
