.pictures {
  display: flex;
  flex-wrap: wrap;
}

.image_box {
  width: 49%;
  margin-bottom: 5px;
}

.image_box:nth-child(odd) {
  margin-right: 2%;
}

.gallery_image {
  object-fit: cover;
}

.nav-content {
  display: flex;
}

.nav-link {
  display: block;
  width: 20%;
  color: black;
}












body {
  color: black;
   background-color: white;
  font-family: 'Source Serif Pro', serif;
}

.main-content {
  background-color: green;
}
